/*
 * Sidebar
 */

#main-sidebar, #main-nav {
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    max-width: 273px;

    /* Behind the navbar */
    padding: 0;

    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.toolbar-horizontal {
    
    .sidebar {
        padding-top: 40px;

        .nav-item {
            ul {
                top: -129px;

                li {
                    ul {
                        top: 0px;
                    }
                }
            }
        }
    }

    &.toolbar-tray-open {
        .sidebar {
            padding-top: 79px;

            .nav-item {
                ul {
                    top: -128px;

                    li {
                        ul {
                            top: 0px;
                        }
                    }
                }
            }
        }
    }
    
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }

}

.sidebar {

    .navbar-brand {
        padding: 30px 70px;
    }

    .nav-item {
        border-top: 1px solid $gray-800;
        background: #231f20;

        a {
            &:hover {
                color: $brand_color;
            }
        }

        &:hover {
            ul {
                display: block;

                li {
                    ul {
                        display: none;
                    }
                }
            }

            .nav-link {
                border-right: 5px solid $brand_color;
                color: $brand_color;
            }
        }

        ul {
            display: none;
            height:100%;
            position: absolute;
            top: 0;
            left: 100%;
            padding-left: 0;
            min-width: 240px;
            background-color: #000;
            list-style: none;
            padding-top: 30px;

            li {
                padding: 0 20px;

                &:hover {
                    ul {
                        display: block;
                    }
                }

                ul {
                    background-color: $gray-300;
                }

                a {
                    padding: 0 20px;
                    color: #fff;
                    line-height: 30px;
                    display: block;

                    &:hover {
                        text-decoration: none;
                        background: #3a393c none repeat scroll 0 0;
                        color: $brand_color;
                    }
                }
            }
        }
    }

    .nav-link {
        font-weight: 500;
        color: #a7a9ac;
        text-transform: uppercase;
        padding: 15px;
        line-height: 45px;
    
        .feather {
            margin-right: 4px;
            color: #999;
        }

        &:hover {
            border-right: 5px solid $brand_color;
            color: $brand_color;
        }
    
        &.active {
            color: $brand_color;
            border-right: 5px solid $brand_color;
        }
    
        &:hover .feather, &.active .feather {
            color: inherit;
        }
    }
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}